*{
    --grey: #696D7D;
    --blue: #0A122A;
    --white: #FFF4EC;
    --murrey:#89023E;
    --pink: #EA638C;
}


.mainBody{
    background-color: var(--white);
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
form{
    margin-top: 8rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    width: 25rem;
}

form h1{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--blue);
    font-weight: 650;
}
form input{
    border-radius: 25px;
    height: 2rem;
    border: 1px var(--pink) solid;
    padding-left: 0.3rem;
    margin-bottom: 0.2rem;
    margin-top:0.2rem
}
form input:focus{
    outline: none;
    border: 1px var(--blue) solid;
}

form label{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: var(--blue);
    font-weight: 600;
}
form button{
    border-radius: 25px;
    border:none;
    height: 2.2rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    background-color: var(--blue);
    color: var(--white);
    width: 8rem;
    cursor: pointer;
    align-self: center;
}
form button:hover{
    background-color: var(--pink);
    color: white;
}
form p{
    font-size: 14px;
    color: var(--blue);
}
form p a{
    color: var(--pink);
    text-decoration: none;
}
form p a:hover{
    color: var(--murrey);
}
form h6{
    font-size: 14px;
    color: var(--blue);
    text-align: center;
    margin-top: 2rem;
}